# Celo Sepolia chain config
# chain id format should be hex
NEXT_PUBLIC_CELO_CHAIN_ID=0xaa044c
NEXT_PUBLIC_CELO_CHAIN_NAME=Celo Sepolia
NEXT_PUBLIC_CELO_RPC_URLS=https://forno.celo-sepolia.celo-testnet.org
NEXT_PUBLIC_CELO_EXPLORER_URLS=https://celo-sepolia.blockscout.com
NEXT_PUBLIC_CELO_NATIVE_NAME=CELO
NEXT_PUBLIC_CELO_NATIVE_SYMBOL=CELO
NEXT_PUBLIC_CELO_NATIVE_DECIMALS=18

# Current contract config on Celo Sepolia
NEXT_PUBLIC_USDC_ADDRESS=0x8FB74c2a678811aECC6Ed98Bd5Bc70E1119b7B61
NEXT_PUBLIC_USDC_FAUCET_ADDRESS=0x29b5333E2fbd4de48BD5fe14b3972d6Af24aa01E
NEXT_PUBLIC_GAME_VAULT_ADDRESS=0x4Bf6D3C0dBbC14eF0C7f2a4daeD7D97418Fc5aDf
NEXT_PUBLIC_GAME_SETTLEMENT_ADDRESS=0x1eC57C9D24C4bf326d6efF4a1F16B45968e384e4
NEXT_PUBLIC_TRUST_PASSPORT_ADDRESS=0xF8Bc8B497Cbb7D08a14Ba2107F2C521c78B0eC38

# FE data source mode for deposit feature: onchain | backend
NEXT_PUBLIC_DEPOSIT_DATA_SOURCE=onchain

# Required for backend auth + gameplay settlement flow
NEXT_PUBLIC_BACKEND_API_URL=http://localhost:8000

# Required for Reown AppKit modal
NEXT_PUBLIC_REOWN_PROJECT_ID=
